<!-- nav -->
<nav class="navbar navbar-expand-lg bg-white small border-bottom shadow-sm fixed-top" style="--bs-bg-opacity: .9;">
    <div class="container">
        <a href="#" class="navbar-brand"></a>
        <span class="brand-gradient">
            Shoes4.0
        </span>
        <div class="collapse navbar-collapse" id="blog-navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link text-dark">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/cart" class="nav-link text-dark">Cart</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <!-- display login/logout -->
                <ng-container *ngIf="!isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="isAuthenticated()">
                    <li class="nav-item active">
                        <a class="nav-link" (click)="logout()" routerLink="login">Logout</a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</nav>
<!--banner -->
<header class="py-5 border-bottom mt-5" *ngIf="isAuthenticated();">
    <div class="container">
        <div class="row align-items-center gx-md-5">
            <div class="col-md-6">
                <div class="pe-md-5">
                    <h1 class="fs-1 fw-normal text-secondary">LASTEST PRODUCT
                    </h1>
                    <h2 class="fs-5 fw-light text-secondary">Nike EasyOn technology for a hands-free experience. The
                        flexible heel collapses when you step in then snaps back into place, making it easy to slip the
                        shoe on and off. Add that to its clean, crisp leather and you've got ultimate wearability. Yeah,
                        it's everything you love and then some.
                    </h2>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="../assets/images/banner.jpg" alt=""
                        class="rounded img-fluid shadow-sm full-width img-banner">
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>
<footer class="main-footer text-bg-dark p-4 text-center">
    <p class="m-0">
        <small>Copyright &copy; 2024. All rights reseved</small>
    </p>
</footer>